h1{
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 5em;
    color: #100C17;
    
}
.ask{
    text-align: center;
    font-family: 'Signika', sans-serif;
    color: #100C17;
}
.container-fluid{
    width: 75%;
    text-align: center;
    font-size: 3em;
}
.btn-lg, .btn-group-lg > .btn{
    border-color: #100C17;
    border-style: solid;
    border-width: 2px;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn-lg, .btn-group-lg > .btn:hover{
    background: #332F3A;
    transition: 0.5s;
    transition-delay: 100ms;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    cursor: pointer;
    border-radius: 2em 2em;
}